fastapi[standard]
uvicorn[standard]
sqlalchemy
pymysql
cryptography
langchain
langchain-community
langchain-core
huggingface_hub
langchain-openai
langchain-anthropic
langchain_huggingface
langchain_groq
python-dotenv
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
email-validator
langfuse